body{
    background-image: url('../img/avion.jpg');
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(224,249,255,0.3);
}
header{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    font-size: 2.5em;
}
header h2{
    font-size: 2em;
}
main{
    background-color: rgba(224,249,255,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.input{
    width: 25em;
    height: 2.5em;
    border-radius: 1em;
}
button{
    background-color: rgba(0,0,0,0);
    border: 0em;
}
button img{
    width: 2.5em;
    height: 2.5em;
}
nav{
    background-color: rgba(33, 42, 44, 0.7);
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    padding-right: 2em;
    padding-left: 2em;
}
nav ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.accepted{
    width: 1.5em;
    height: 1.5em;
}

#contributions{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding-bottom: 2em;
}