table .pair{
    background-color: #66c9f786;
}

table .impair{
    background-color: #f7ac6686;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 2em;
}

table{
    border-spacing: 0em;
    display: table;
    width: 85%;
    border: 3px solid black;
    border-radius: 2em;
    overflow: hidden;
    
}

table form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

table tr{
    text-align: center;
    margin: 0em;
}

table th{
    font-size: 1.3em;
    background-color: #aaaaaa86;
}